/*===================================================
  Multiselect custom - theme 0001
===================================================*/

$multiselect_bg_color                         : #f0f0f0;
$multiselect_list_link_text_color             : #9a9999;
$multiselect_list_item_bg_color_selected      : #d7d7d7;

/*=== Custom variables   ===*/
@if variable-exists(multiselect_bg_color_custom) {
    $multiselect_bg_color : $multiselect_bg_color_custom;
}

@if variable-exists(multiselect_list_link_text_color_custom) {
    $multiselect_list_link_text_color : $multiselect_list_link_text_color_custom;
}

@if variable-exists(multiselect_list_item_bg_color_selected_custom) {
    $multiselect_list_item_bg_color_selected : $multiselect_list_item_bg_color_selected_custom;
}

@include multiselect();